@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Roboto', sans-serif !important;
  font-size: 10px;
  background-color: #f6f6f8;
}

#root {
  font-size: 16px;
}

@layer components {
  .main-content {
    @apply flex flex-row self-center justify-center w-full mt-28;
  }
  .input-error {
    @apply mt-2 mb-4 text-2xl italic text-red-500;
  }
  .center-modal {
    @apply fixed transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2;
  }
  .slideIn {
    @apply right-12;
  }
  .slideOut {
    @apply -right-24rem;
  }
  .navigation-item {
    @apply flex items-center h-full px-8 font-medium uppercase cursor-pointer hover:bg-yellow-400;
  }
}
